<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12" align="center">
          <br>
          <h1>Bienvenido</h1>
        </div>
      </div>
      <div class="row">
  
        <div class="col-md-10" align="right">
          <button type="button" class="btn btn-info" (click)="mostrarPerfil()">Perfil</button>
        </div>
  
        <div class="col-md-2" align="center">
          <button type="button" class="btn btn-danger" (click)="logout()">Cerrar sersión</button>
        </div>
  
      </div>
      <div class="col-md-12">
        <hr color="blue">
      </div>
    </div>
  </section>